[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rstackdeque"]
	path = rstackdeque
	url = https://github.com/oneilsh/rstackdeque
